table{
    height: 100px;
    width: 500px;
}

.accordion-body{
    background-color: coral;
    color: black;
}


h2#flush-headingOne.accordion-header{
    border-style: inset;
    border-color: black;
}
h2#flush-headingTwo.accordion-header{
    border-style: inset;
    border-color: black;
}
h2#flush-headingThree.accordion-header{
    border-style: inset;
    border-color: black;
}