h1{
    color: black;
    background-color: coral;
    text-align: center;
}
h2{
    background-color: coral;
    text-align: center;
}

div{
    position: relative;
}


ul{

}

#student-info{
    height: 200px;
}

{


}