#register-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
}

.form-signin {
    padding: 1rem;
    margin: auto;
}

.form-floating {
    width: 30vw;
}

.form-register > h1 {
    text-align: center;
    margin-bottom: 1.5rem!important;
}

.form-register > button {
    margin-top: 1.5rem!important;
}

#error-msg-container {
    margin: auto;
}

div > input {
    margin-bottom: .6rem;
}